* text=auto !eol
/Makefile -text
/READMEv1.4 -text
/cable.nml -text
/cable_carbon.f90 -text
/cable_cbm.f90 -text
/cable_checks.f90 -text
/cable_driver.f90 -text
/cable_drivertxt.f90 -text
/cable_input.f90 -text
/cable_output.f90 -text
/cable_outputtxt.f90 -text
/cable_parameters.f90 -text
/cable_soilsnow.f90 -text
/cable_variables.f90 -text
surface_data/LAI_Monthly_Global.nc -text
surface_data/VegSoil_Type_Global_igbp.csv -text
surface_data/def_soil_params.txt -text
surface_data/def_veg_params_igbp.txt -text
